@*
	Multiple urls supported
	/category-products/{CategoryId} - supports direct lookup of category products
	/category-products - supports default lookup of category products
*@

@*
	Constrain the type for CategoryId (default is string)
*@
@page "/category-products/{CategoryId:int}"
@page "/category-products"

<h3>Category Products</h3>

@* Display the available categories *@
<fieldset class="mb-3">
	<legend>Category Selection</legend>
	<div class="row row-cols-lg-auto g-3 align-items-center">
		<div class="col-12">
			<label class="visually-hidden" for="category">Category:</label>
			<select class="form-select" id="category" @bind="CategoryId">
				<option disabled selected value="0">Select a category</option>
				@if (Categories != null)
				{
					foreach (var cat in Categories)
					{
						<option value="@cat.CategoryId">@cat.Description</option>
					}
				}
			</select>
		</div>
		<div class="col-12">
			<button class="btn btn-primary" @onclick="HandleCategorySelected">Get Products</button>
		</div>
	</div>
</fieldset>

@if (Products != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product Id</th>
				<th>Name</th>
				<th>Discontinued</th>
				<th>Unit Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var p in Products)
			{
				<tr>
					<td>@p.ProductId</td>
					<td>@p.ProductName</td>
					<td>@p.Discontinued</td>
					<td class="text-end">@($"{p.UnitPrice:C}")</td>
				</tr>
			}
		</tbody>
	</table>
}
